:root {
  --back: rgb(26, 26, 26, 0.95);
  --halfback: #2d2d2d;
  --frontfaded: rgba(255, 255, 255, 0.7);
  --front: rgba(230, 230, 230);
  --emph: #ca7acc;
  --emphbold: #b371b5;
  --blurpix: 4px;
}

html::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(./graffiti.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: calc(100vh + 2*var(--blurpix));
  width: calc(100vw + 2*var(--blurpix));
  filter: blur(var(--blurpix));
  margin: calc(-1*var(--blurpix));
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 120%;
  line-height: 1.7;
  word-break: break-word;
  color: var(--frontfaded);
  background-color: var(--back);
}

body {
  max-width: 35em;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 4vw;
  padding-bottom: 1vw;
  border-radius: 1em;
  background: var(--back);
}

h1 {
  font-family: Rock Salt;
  letter-spacing: 0.2em;
  margin: 0;
  margin-left: -1vw;
  line-height: 1.3;
  color: var(--front);
}

h1 + p {
  margin-top: 0.5rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

a {
  color: #b77ab9;
  font-weight: 700;
  text-decoration: none;
}

li>a {
  margin: 0.4em;
  border-radius: 2em;
  border: 2px solid var(--emphbold);
  
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: 0.1s;
}

li>a:hover, .router-link-active {
  background: #706070;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  /*! line-height: 6rem; */
}

h3 {
  color: black;
}

img {
  width: 100%;
  mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="80" height="80"/></g></svg>');
  mask-size: cover;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active, .slide-left-enter-active {
  transition: all .2s ease;
}
.slide-right-leave-active, .slide-left-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-right-leave-active, .slide-left-enter-from {
  transform: translateX(-20px);
}
.slide-right-enter-from, .slide-left-leave-active {
    transform: translateX(20px);
}
.slide-right-enter-from, .slide-right-leave-to {
  opacity: 0;
}
