:root {
    --blurpix: 4px;
    --highlight: #8b3f8e;
    --background-color: #ffffffcc;
    --text-color: #222;
    --title-color: #000;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --background-color: #000000cc;
        --text-color: #ddd;
        --title-color: #ffffff;
        --highlight: #ca7acc;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
}

html::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("/assets/graffiti.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: calc(100vh + 2 * var(--blurpix));
    width: calc(100vw + 2 * var(--blurpix));
    filter: blur(var(--blurpix));
    margin: calc(-1 * var(--blurpix));
}

@font-face {
    font-family: "Rock Salt";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/rock-salt.woff2") format("woff2");
}

html {
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 300;
    font-size: 120%;
    text-rendering: optimizeLegibility;
    line-height: 1.7;
    word-break: break-word;
    scroll-behavior: smooth;
    color: var(--text-color);
}

a {
    color: var(--highlight);
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a > img {
    display: inline-block;
    vertical-align: center;
    height: 0.9em;
}

.graffiti {
    font-family: "Rock Salt", cursive;
    color: var(--title-color);
}

strong {
    font-weight: 700;
    color: var(--title-color);
}
