body {
  display: flex;
  height: 100vh;
}

#input-container {
  flex: 50%;
  overflow: scroll;
}

#output {
  flex: 50%;
  overflow: scroll;
  border-left: 2px solid black;
  text-align: center;
}

button {
  font-size: 150%;
}
