<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>moderator</title>
  <link rel="stylesheet" href="https://prismjs.com/themes/prism.css">
  <link rel="stylesheet" href="https://prismjs.com/plugins/line-numbers/prism-line-numbers.css">
  <link rel="stylesheet" href="https://live.prismjs.com/prism-live.css">
  <link rel="stylesheet" href="https://live.prismjs.com/style.css">
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="input-container">
    <textarea class="prism-live line-numbers language-html" id="input" onkeyup="copyCode()">
<graffiti-app>

  <template v-if="$graffiti.loggedIn">
    <div id="log-out-header">
      <button @click="$graffiti.logOut">
        log out
      </button>
    </div>
  </template>
  <template v-else>
    <div id="log-in-header">
      <button @click="$graffiti.logIn">
        log in to post!
      </button>
    </div>
  </template>

  <graffiti-collection :query="{
    type: 'post',
    content: { $type: 'string' },
    tags: 'demo'
  }" v-slot="posts">

    <div id="postbox">

      <template v-if="$graffiti.loggedIn">

        <form @submit.prevent="posts.update({
          type: 'post',
          content: content,
          tags: ['demo'],
          _inContextIf: [{
            _queryFailsWithout: [ 'tags.0' ]
          }]
        });content=''">
          <input type="text" v-model="content"/>

          <input type="submit" value="post!">
        </form>
        
      </template>
    
      choose your moderator:
      <input type="text" v-model="moderator"/>
      <button v-if="$graffiti.loggedIn" @click="moderator=$graffiti.myID">
        make me the moderator!
      </button>

    </div>

    <h1>Posts:</h1>
    <ul>
      <template v-for="post in posts.objects" :key="post._id">
        
        <graffiti-collection :query="{    
          type: 'block',
          at: post._id,
          _by: moderator
        }" v-slot="blocks">
    
          <li>
            <!-- style the post as red if it is blocked -->
            <p :style="blocks.object?'color:red':'color:black'">
              {{post.content}}
            </p>

            <template v-if="post._by==$graffiti.myID">
              <button @click="posts.delete(post)">
                delete
              </button>
            </template>
            
            <template v-if="$graffiti.myID==moderator"> 
          
              <template v-if="blocks.object">
                <button @click="blocks.delete(blocks.object)">
                  unblock
                </button>         
              </template>
         
              <template v-else> 
                <button @click="blocks.update({
                  type: 'block',
                  at: post._id,
                  _inContextIf: [{
                    _queryFailsWithout: [ 'at' ]
                  }]
                })">
                  block
                </button>
              </template>
            
            </template>
          </li>
        </graffiti-collection>
      </template>
    </ul>
  <graffiti-collection>
</graffiti-app></textarea>
  </div>

  <div id="output">
  </div>

  <script src="https://blissfuljs.com/bliss.shy.min.js"></script>
  <script src="https://prismjs.com/prism.js"></script>
  <script src="https://prismjs.com/plugins/line-numbers/prism-line-numbers.js"></script>
  <script src="https://live.prismjs.com/src/prism-live.js"></script>
  <script src="https://live.prismjs.com/src/prism-live-markup.js"></script>
  <script type="module">
    import { createApp } from "https://unpkg.com/vue@3.2.36/dist/vue.esm-browser.prod.js"
    import { default as Graffiti, registerGraffitiApp } from "../vue/plugin.js"
    function createMyApp() {
      return createApp({
        data() {
          return {
            moderator: '',
            content: ''
          }
        }
      })
    }
    Graffiti().then(g=>registerGraffitiApp(g, createMyApp))

    // Editor code
    var input = document.getElementById("input");
    var output = document.getElementById("output");
    window.copyCode = function() {
     output.innerHTML = input.value;
    }
    window.copyCode()
  </script>
</body>
</html>
