<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>namebook</title>
  <link rel="stylesheet" href="https://use.typekit.net/ovj6wxu.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.16/dist/vue-router.global.prod.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="app">

    <template v-if="!$graffiti.loggedIn">
      <h1 class="header"><u>
        namebook
      </u></h1>
      <h2>
        <button @click="$graffiti.logIn">log in with graffiti</button>
      </h2>
    </template>
    <template v-else>

      <ul class="header">
        <li>
          <u>
            <router-link to="/">
              namebook
            </router-link>
          </u>
        </li>
        <li>
          <router-link :to="'/profile/' + $graffiti.myID">
            my profile
          </router-link>
        </li>
        <li>
          <a href="" @click.prevent="$graffiti.logOut">
            log out
          </a>
        </li>
      </ul>

      <div class="feed">
        <router-view></router-view>
      </div>
    </template>
  </div>

  <script type="text/x-template" id="name">
    <graffiti-collection :query="{
      type: 'name',
      of: id,
      _by: id,
      name: { $type: 'string' }
    }" v-slot="names">

      <form ref="form" v-if="editing"
        @submit.prevent="submit(names)">

        <!-- autofocus, autoselect and submit on clickaway -->
        <input ref="input" type="text" v-model="editText" @focus="$event.target.select()" v-focus
          v-click-away="() => submit(names)" />
      </form>

      <router-link v-else :to="'/profile/' + id">
        <template v-if="names.object">
          {{ names.object.name }}
        </template>
        <template v-else>
          Anonymous
        </template>
      </router-link>

      <button class="superscript" v-if="id==$graffiti.myID && !editing"
        @click="
        editText = names.object? names.object.name : '';
        editing = true;
      ">
        ✏️
      </button>
    </graffiti-collection>
  </script>

  <script type="text/x-template" id="post">
    <!-- Controls for the post: edit, delete -->
    <div class="post-modifiers" v-if="post._by==$graffiti.myID">
      <input :id="'menu' + post._id" type="checkbox" v-model="editMenuOpen" />
      <label :for="'menu' + post._id">⚙️</label>
      <ul v-if="editMenuOpen" v-click-away="() => editMenuOpen=false">
        <li v-if="!editing">
          <button @click="
            editText = post.summary;
            editing = true;
            editMenuOpen = false;
          ">
            edit
          </button>
        </li>
        <li>
          <button @click="collection.delete(post)">
            delete
          </button>
        </li>
      </ul>
    </div>

    <h3>
      <Name :id="post._by" />
      <template v-if="'at' in post">
        <template v-for="id in post.at">
          @<Name :id="id" />
        </template>
      </template>
    </h3>
    <h4>
      {{ new Date(post.timestamp).toLocaleDateString(undefined, {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      }) }}
    </h4>

    <!-- The post itself -->
    <p>
      <form v-if="editing" @submit.prevent="
          post.summary = editText;
          collection.update(post);
          editing = false;
        ">

        <textarea v-model="editText" @focus="$event.target.select()" v-focus ></textarea>
        <input type="submit" value="save">
      </form>
      <span :style="('type' in post && post.type=='post')?'':'font-style: italic'"
        v-else v-html="sanitizedContent"></span>
    </p>

    <!-- Likes and comments -->
    <graffiti-collection :query="{
      type: 'like',
      object: post._id
    }" v-slot="likes">

    <graffiti-collection :query="{
      summary: { $type: 'string' },
      inReplyTo: post._id
    }" v-slot="comments">

      <div class="post-annotators">
        <input type="checkbox"
          :id="'like' + post._id"
          :checked="likes.myObjects.length"
          @change="$event.target.checked?
            likes.update({
              type: 'like',
              object: post._id,
              _nearMisses: [
                o=> o.object += 'not'
              ]
            }) :
            likes.deleteMine()">
        <label :for="'like' + post._id">
          👍 like<template v-if="likes.myObjects.length">d</template>
        </label>

        <label disabled>
          likes: {{ $graffiti.getAuthors(likes.objects).length }}
        </label>

        <input type="checkbox"
          :id="'comments' + post._id"
          v-model="commentsOpen">
        <label :for="'comments' + post._id">
          comments: {{ comments.objects.length }}
        </label>
      </div>

      <ul v-if="commentsOpen">
        <li class="post" v-for="comment in comments.objects.slice().reverse()" :key="comment._id">
          <Post :collection="comments" :post="comment"/>
        </li>
        <li class="post">
          <form @submit.prevent="comments.update({
            type: 'post',
            summary: commentText,
            inReplyTo: post._id,
            _nearMisses: [
              o=> o.inReplyTo += 'not'
            ]
          });commentText=''">
            <textarea v-model="commentText" placeholder="write a comment..."></textarea>
            <input type="submit" value="reply">
          </form>
        </li>
      </ul>

    </graffiti-collection>
    </graffiti-collection>
  </script>

  <script type="text/x-template" id="profile">
    <h1>
      <Name :id="id" />
    </h1>

    <graffiti-collection :query="{
      summary: { $type: 'string' },
      $or: [
        { _by: id },
        { at: id }
      ]
    }" v-slot="posts">

      <p>
        <form @submit.prevent="posts.update(id==$graffiti.myID? {
          type: 'post',
          summary: content,
          _nearMisses: [
            o=> o._by += 'not'
          ]
        } : {
          type: 'post',
          summary: content,
          at: [id],
          _nearMisses: [
            o=> o.at[0] += 'not'
          ]
        });content=''">

          <textarea v-model="content" autofocus :placeholder="
            id==$graffiti.myID?
            'what\'s on your mind?' :
            'to my dear friend...'
          "></textarea>
          <input type="submit" value="post">
        </form>
      </p>

      <ul>
        <li class="post" v-for="post in posts.objects" :key="post._id">
          <Post :collection="posts" :post="post"/>
        </li>
      </ul>

    </graffiti-collection>
  </script>

  <script type="text/x-template" id="directory">
    <h1><u>
      namebook
    </u></h1>

    <graffiti-collection :query="{
      type: 'arrive',
      tags: 'namebook'
    }" v-slot="arrivals">

      <h2>
        <input type="checkbox"
          id="directorycheck"
          :checked="!arrivals.myObjects.length"
          @change="$event.target.checked?
            arrivals.deleteMine() :
            arrivals.update({
              type: 'arrive',
              tags: ['namebook'],
              nearMisses: [
                o=> o.tags = 'notnamebook'
              ]
            })">
         <label for="directorycheck">
           <template v-if="!arrivals.myObjects.length">
             add me!
           </template>
           <template v-else>
             remove me
           </template>
         </label>
       </h2>

      <ul class="directory">
        <li v-for="authorID in $graffiti.getAuthors(arrivals.objects)">
          <h3>
            <Name :id="authorID" />
          </h3>
        </li>
      </ul>

    </graffiti-collection>
  </script>

  <script type="module">
    import Graffiti from "../vue/plugin.js"
    import VueClickAway from "https://cdn.jsdelivr.net/npm/vue3-click-away@1.2.4/dist/module.js"

    const Post = {
      template: '#post',
      props: ['post', 'collection'],
      data() {
        return {
          editing: false,
          editText: '',
          commentText: '',
          editMenuOpen: false,
          commentsOpen: false
        }
      },
      computed: {
        sanitizedContent() {
          const lookup = {
              '&': "&amp;",
              '"': "&quot;",
              '\'': "&apos;",
              '<': "&lt;",
              '>': "&gt;"
          }
          return this.post.summary
          // Remove all included tags
          .replace( /[&"'<>]/g, c => lookup[c] )
          // Replace urls with <a>
          .replace(/(https?:\/\/[^\s]+)/g, url=> `<a href="${url}">${url}</a>`)
        }
      }
    }

    const Name = {
      template: '#name',
      props: ['id'], 
      data() {
        return {
          editing: false,
          editText: '',
        }
      },

      methods: {
        submit(names) {
          const submission = names.object? names.object : {
            type: 'name',
            of: this.id,
            _by: this.id
          }
          submission.name = this.editText
          names.update(submission)
          this.editing = false
        }
      }
    }

    const Router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        { path: '/', component: {
          template: '#directory'
        }},
        { path: '/profile/:id', props: true, component: {
          template: '#profile',
          props: ['id'],
          data() {
            return {
              content: ''
            }
          }
        }}
      ],
    })

    const focus = {
      mounted: el => el.focus()
    }

    Graffiti().then(g=> {
      Vue.createApp().use(g)
      .component('Post', Post)
      .component('Name', Name)
      .directive('focus', focus)
      .use(VueClickAway)
      .use(Router)
      .mount('#app')
    })
  </script>
</body>
</html>
