<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>namebook</title>
  <link rel="stylesheet" href="https://use.typekit.net/ovj6wxu.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.16/dist/vue-router.global.prod.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="app">

    <template v-if="!$graffiti.loggedIn">
      <h1 class="header"><u>
        namebook
      </u></h1>
      <h2>
        <button @click="$graffiti.logIn">log in with graffiti</button>
      </h2>
    </template>
    <template v-else>

      <ul class="header">
        <li>
          <u>
            <router-link to="/">
              namebook
            </router-link>
          </u>
        </li>
        <li>
          <router-link :to="'/profile/' + $graffiti.myID">
            my profile
          </router-link>
        </li>
        <li>
          <a href="" @click.prevent="$graffiti.logOut">
            log out
          </a>
        </li>
      </ul>

      <div class="feed">
        <router-view></router-view>
      </div>
    </template>
  </div>

  <script type="text/x-template" id="name">
    <graffiti-collection :query="{
      type: 'name',
      of: id,
      _by: id,
      name: { $type: 'string' }
    }" v-slot="names">

      <form v-if="editing"
        @submit.prevent="
          replaceName = names.object? names.object : replaceName;
          replaceName.name = editText;
          names.update(replaceName);
          editing = false;
        ">

        <input type="text" v-model="editText" @focus="$event.target.select()" ref="editor" />
      </form>

      <router-link v-else :to="'/profile/' + id">
        <template v-if="names.object">
          {{ names.object.name }}
        </template>
        <template v-else>
          Anonymous
        </template>
      </router-link>

      <button class="superscript" v-if="id==$graffiti.myID && !editing"
        @click="
        editText = names.object? names.object.name : '';
        editing = true;
        this.$nextTick(() => this.$refs.editor.focus());
      ">
        ✏️
      </button>
    </graffiti-collection>
  </script>

  <script type="text/x-template" id="post">
    <!-- Controls for the post: edit, delete -->
    <div class="post-modifiers" v-if="post._by==$graffiti.myID">
      <input :id="'menu' + post._id" type="checkbox" v-model="editMenuOpen" />
      <label :for="'menu' + post._id">⚙️</label>
      <ul v-show="editMenuOpen">
        <li v-if="!editing">
          <button @click="
            editText = post.content;
            editing = true;
            editMenuOpen = false;
            this.$nextTick(() => this.$refs.editor.focus());
          ">
            edit
          </button>
        </li>
        <li>
          <button @click="collection.delete(post)">
            delete
          </button>
        </li>
      </ul>
    </div>

    <h3>
      <Name :id="post._by" />
    </h3>
    <h4>
      {{ new Date(post.timestamp).toLocaleDateString(undefined, {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      }) }}
    </h4>

    <!-- The post itself -->
    <p>
      <form v-if="editing" @submit.prevent="
          post.content = editText;
          collection.update(post);
          editing = false;
        ">

        <textarea v-model="editText" @focus="$event.target.select()" ref="editor"></textarea>
        <input type="submit" value="save">
      </form>
      <template v-else>
        {{post.content}}
      </template>
    </p>

    <!-- Likes -->
    <graffiti-collection :query="{
      type: 'like',
      object: post._id
    }" v-slot="likes">


      <div class="post-annotators">
        <input type="checkbox"
          :id="'like' + post._id"
          :checked="likes.myObjects.length"
          @change="$event.target.checked?
            likes.update({
              type: 'like',
              object: post._id,
              nearMisses: [
                o=> o.object = 'not' + post._id
              ]
            }) :
            likes.deleteMine()">
        <label :for="'like' + post._id">
          👍 like<template v-if="likes.myObjects.length">d</template>
        </label>

        <label disabled>
          likes: {{ $graffiti.getAuthors(likes.objects).length }}
        </label>
      </div>
    </graffiti-collection>
  </script>

  <script type="text/x-template" id="profile">
    <h1>
      <Name :id="id" />
    </h1>

    <graffiti-collection :query="{
      type: 'post',
      content: { $type: 'string' },
      _by: id
    }" v-slot="posts">

      <p>
        <form @submit.prevent="posts.update({
          type: 'post',
          content: content,
          _nearMisses: [
            o=> o._by = 'not' + $graffiti.myID
          ]
        });content=''">

          <textarea v-model="content" placeholder="what's on your mind?" autofocus></textarea>
          <input type="submit" value="post">
        </form>
      </p>

      <ul>
        <li class="post" v-for="post in posts.objects" :key="post._id">
          <Post :collection="posts" :post="post"/>
        </li>
      </ul>

    </graffiti-collection>
  </script>

  <script type="text/x-template" id="directory">
    <h1><u>
      namebook
    </u></h1>

    <graffiti-collection :query="{
      type: 'arrive',
      tags: 'namebook'
    }" v-slot="arrivals">

      <h2>
        <input type="checkbox"
          id="directorycheck"
          :checked="!arrivals.myObjects.length"
          @change="$event.target.checked?
            arrivals.deleteMine() :
            arrivals.update({
              type: 'arrive',
              tags: ['namebook'],
              nearMisses: [
                o=> o.tags = 'notnamebook'
              ]
            })">
         <label for="directorycheck">
           <template v-if="!arrivals.myObjects.length">
             add me!
           </template>
           <template v-else>
             remove me
           </template>
         </label>
       </h2>

      <ul class="directory">
        <li v-for="authorID in $graffiti.getAuthors(arrivals.objects)">
          <h3>
            <Name :id="authorID" />
          </h3>
        </li>
      </ul>

    </graffiti-collection>
  </script>

  <script type="module">
    import Graffiti from "../vue/plugin.js"

    const Post = {
      template: '#post',
      props: ['post', 'collection'],
      data() {
        return {
          editing: false,
          editText: '',
          editMenuOpen: false
        }
      },
    }

    const Name = {
      template: '#name',
      props: ['id'], 
      data() {
        return {
          editing: false,
          editText: '',
          replaceName: {
            type: 'name',
            of: this.id,
            _by: this.id
          }
        }
      }
    }

    const router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        { path: '/', component: {
          template: '#directory'
        }},
        { path: '/profile/:id', props: true, component: {
          template: '#profile',
          props: ['id'],
          data() {
            return {
              content: ''
            }
          }
        }}
      ],
    })

    Graffiti().then(g=> {
      Vue.createApp().use(g)
      .component('Post', Post)
      .component('Name', Name)
      .use(router).mount('#app')
    })
  </script>
</body>
</html>
