<GraffitiObjects v-slot="{objects: waves}"
  :context="['https://graffiti.garden']"
  :query="{
    properties: {
      type: { const: 'Wave' }
    },
    required: ['type']
  }">

  <button v-if="!$gf.me" @click="$gf.toggleLogIn">
    Log in to wave!
  </button>
  <template v-else>
    <button v-if="waves.mine.length" class="waving" @click="$gf.remove(...waves.mine)">
      👋
    </button>
    <button v-else @click="waves.post({type: 'Wave'})">
      👋
    </button>
  </template>

  <p>
    {{waves.actors.length}}
    people have waved from this page!
  </p>
</GraffitiObjects>
