<GraffitiDiscover
    v-slot="{ results: waves, isPolling }"
    :channels="[ 'https://graffiti.garden' ]"
    :schema="{
        properties: {
            value: {
                properties: {
                    type: { enum: ['Wave'] }
                },
                required: ['type']
            }
        }
    }"
>
    <template v-if="$graffitiSession.value?.webId">
        <button
            v-if="!waves.some(
                wave => wave.webId === $graffitiSession.value.webId
            )"
            @click="$graffiti.put({
                value: { type: 'Wave' },
                channels: [ 'https://graffiti.garden' ]
            }, $graffitiSession.value)"
        >
            👋
        </button>
        <button
            v-else
            class="waving"
            @click="waves.filter(
                wave => wave.webId === $graffitiSession.value.webId
            ).map(wave => $graffiti.delete(wave, $graffitiSession.value))"
        >
            👋
        </button>
    </template>
    <template v-else>
        <p>To wave 👋 you need to be logged in.</p>
        <p>Open the session manager below.</p>
    </template>

    <p v-if="isPolling">Loading...</p>

    <p v-else>{{ waves.length }} people have waved from this page!</p>
</GraffitiDiscover>
