<GraffitiQuery
    v-slot="{ results: waves, poll, isPolling }"
    :channels="[ 'uri:graffiti.garden' ]"
    :query="{
        properties: {
            value: {
                properties: {
                    type: { enum: ['Wave'] }
                },
                required: ['type']
            }
        }
    }"
>
    <template v-if="$graffitiSession.isReady">
        <button
            v-if="!waves.some(
                wave => wave.webId === $graffitiSession.webId
            )"
            @click="$graffiti.put({
                value: { type: 'Wave' },
                channels: [ 'uri:graffiti.garden' ]
            }).then(poll)"
        >
            👋
        </button>
        <button
            v-else
            class="waving"
            @click="$graffiti.delete(
                waves.filter(
                    wave => wave.webId === $graffitiSession.webId
                )[0]
            ).then(poll)"
        >
            👋
        </button>
    </template>
    <template v-else>
        <p>To wave 👋 you need to be logged in.</p>
        <p>Open the session manager below.</p>
    </template>

    <p v-if="isPolling">Loading...</p>
    <p v-else>{{ waves.length }} people have waved from this page!</p>
</GraffitiQuery>
