<input v-model=messageID placeholder="Paste a message ID...">

<GraffitiObjects v-slot={objects:likes}
  :context=[messageID]
  :schema="{
    required: ['type', 'object'],
    properties: {
      type: { enum: ['Like'] },
      object: { enum: [messageID] }
    }
  }">

  <button v-if="likes.mine.length" @click="likes.removeMine()">
    👎 unlike?
  </button>
  <button v-else @click="$graffitiUpdate({
    type: 'Like',
    object: messageID,
    context: [messageID]
  })">
    👍 like?
  </button>

  This message has {{likes.actors.length}} like(s)
</GraffitiObjects>
