<input v-model=recipient placeholder="Paste the recipient's actor ID...">

The 5 most recent messages from the recipient:
<GraffitiObjects v-slot={objects:messages}
  :schema="{
    required: ['type', 'content', 'bto'],
    properties: {
      type: { const: 'Note' },
      content: { type: 'string' },
      bto: {
        type: 'array',
        minItems: 1,
        maxItems: 1,
        items: { const: $gf.me }
      },
      actor: { const: recipient }
    }
  }"
  sortBy="-published">

  <ul>
    <li v-for="message of messages.slice(0,5)">
      {{ message.content }}
    </li>
  </ul>

</GraffitiObjects>
